<div id="notebooks">
	<b>Тетради <%= (@user.nil?)?"пользователей":@user.fullname %></b>

	<% @notebooks.each do |notebook| %>
	  <div>
		<b><%= notebook.title %></b><br />
		<i><%= notebook.description %></i><br />
		<%= link_to 'Show', notebook %> | <%= link_to 'Edit', edit_notebook_path(notebook) %> | <%= link_to 'Destroy', notebook, confirm: 'Are you sure?', method: :delete %>
	  </div>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Notebook', new_notebook_path %>
</div>