<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @notebook.title %>
</p>

<p>
  <b>Description:</b>
  <%= @notebook.description %>
</p>

<p>
	<% @notebook.anketum.each do |a| %>
		<%= link_to a.title, anketum_path(a) %><br/>
	<% end %>
</p>

<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
