<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b> <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b> <%= @user.last_name %>
</p>

<p>
  <b>Provider:</b> <%= @user.provider %>
</p>

<p>
  <b>Provider:</b> <%= @user.provider_id %>
</p>

<p>
  <b>Birthdate:</b> <%= @user.birthdate %>
</p>

<p>
  <b>Email:</b> <%= @user.email %>
</p>

<%= link_to 'Стартовая', '/app' %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

	С возвращением, <b><%= current_user.first_name %> <%= current_user.last_name %></b>!<br />
	<div class="span2"><img src="<%= current_user.photo %>" />        <%= debug(signed_in?) %></div>
	<div class="span6">
	<%= current_user.notebooks.count %>
	<%= link_to current_user.notebooks.first.title, notebook_path(current_user.notebooks.first) %> (<%= current_user.notebooks.first.anketum.count %>) <%= link_to "Создать анкету", new_anketum_path(:notebook => current_user.notebooks.first) %>
	</div>