<h1>Listing anketa</h1>

<table>
  <tr>
    <th>Notebook</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anketa.each do |anketum| %>
  <tr>
    <td><%= anketum.notebook_id %></td>
    <td><%= anketum.title %></td>
    <td><%= link_to 'Show', anketum %></td>
    <td><%= link_to 'Edit', edit_anketum_path(anketum) %></td>
    <td><%= link_to 'Destroy', anketum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anketum', new_anketum_path %>
