<!DOCTYPE html>
<html>
<head>
  <title><% title%></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min.responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

		<div class="container">
		
		  <% if signed_in? %>
			<ul id="userbar">
				<li><%= link_to content_tag(:i, "", {:class => "icon-user icon-white"}), current_user, :id => "profile_link" %></li>
				<li><%= link_to content_tag(:i, "", {:class => "icon-cog icon-white"}), edit_user_path(current_user), {:id => "edit_profile_link"} %></li>
				<li><%= link_to content_tag(:i, "", {:class => "icon-star icon-white"}), edit_user_path(current_user), {:id => "rate_system_link"} %></li>
				<li><%= link_to content_tag(:i, "", {:class => "icon-remove-circle icon-white"}), signout_path, :method => :delete, :id => "sign_out_link" %></li>
			</ul>
			
		  <% end %>
		  
		  <%= link_to logo, root_path, :class => "brand" %>

        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
	  
		<div class="row-fluid show-grid">
		<b>controller</b> <%= controller_name %> | <b>action</b> <%= action_name %> | <b>user_id</b> <%= session[:user_id] %><% if signed_in? %> | <b>provider</b> <%= current_user.provider %><% end %>
			<%= yield %>
			<% if !signed_in? %>
				<form id="authform" action="<%= url_for(:action => 'new', :controller => 'sessions') %>" method="post" accept-charset="UTF-8">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
						<% params.each do |param, value| %>
					<% end %>
					<input type="submit" value="Войти" />
				</form>
				<script type="text/javascript">
					$().ready(function(){
						#$("#authform").submit();
					});
				</script>
			<% end %>
<% if Rails.env.production? %>
        <%#= debug(cookies) %>
<% end %>
		</div>
      </div>

      <!-- Example row of columns -->
      <div id="userAppBar" class="row-fluid">
        <div class="span4 span33">
          <b>Лидеры рейтинга</b>
           <p>Здесь список</p>
          <p><a class="btn" href="#">Перейти к рейтингу &raquo;</a></p>
        </div>

        <div class="span4 span33">
          <b>Мои друзья</b> (пригласить)
           <p>Здесь список друзей в приложении</p>
          <p><a class="btn" href="#">Смотреть всех друзей &raquo;</a></p>
       </div>
        <div class="span4 span33">
          <b>Магазин</b>
          <p>Баннер</p>
        </div>
		
		<div class="clear"></div>
		
      </div>

      <hr>

      <footer>
        <div class="span20">&copy; Awesome Studio 2012</div>
		<div class="span20">Официальная группа ЧаВо О приложении</div>
      </footer>

    </div> <!-- /container -->

</body>
</html>
